{% extends 'admin/base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Kubernetes</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% for error in errors %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <span class="sr-only">Error:</span>
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            {% endfor %}
            <form method="POST" action="{{ request.script_root }}/admin/kubernetes" enctype="multipart/form-data" autocomplete="off" class="form-horizontal">
                <div class="form-group">
                    <label for="image-input">
                        Container Image {% if config.image %} (Already uploaded a image name.) {% endif
                        %}
                    </label>
                    <input required class="form-control" type="text" name="image" id="image-input"
                        placeholder="Ex: mvdb0110/helm:latest" {% if config.image %} value='{{ config.image }}' {% endif
                        %} />
                </div>
                <div class="form-group">
                    <label for="registry-secret">
                        Registry Secret {% if config.secret %} (Already uploaded a secret.) {% endif
                        %}
                    </label>
                    <input required class="form-control" type="text" name="secret" id="registry-input"
                        placeholder="Base64 encoded string" {% if config.secret %} value='{{ config.secret }}' {% endif
                        %} />
                </div>
                <input type="hidden" value="{{ Session.nonce }}" name="nonce" id="nonce">
                <div class="col-md-13 text-center">
                    <button type="submit" class="btn btn-md btn-primary btn-outlined">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Challenge</th>
                <th scope="col">Terminate</th>
            </tr>
        </thead>
        <tbody>
            {% for namespace in namespaces %}
            {% set challist = namespace.metadata.name.split('-') %}
            {% if challist[0] == "ctf" %}
            {% if namespace.status.phase == "Active" %}
            <tr>
                <td>{{ challist[2] }}</td>
                <td>{{ challist[3] }}</td>
                <td><button onclick="stop_deployment('{{ challist[3] }}' , '{{ challist[2]}}', '{{ Session.nonce }}')" type="button" class="btn btn-danger">X</button></td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
{% block scripts %}
<script>
    function stop_deployment(challenge_id, user_id, nonce) {
        json_body = { "challenge_id": challenge_id, "user_id": user_id }
        headers = { "CSRF-Token": nonce, 'Content-Type': 'application/json' }
        $.ajax({
            type: 'POST',
            url: '/kubernetes/destroy',
            data: JSON.stringify(json_body),
            success: function (data) { location.reload() },
            headers: headers,
            dataType: 'json'
        });
    };
</script>
{% endblock %}
